site_name: Synthesizer V Studio Unofficial User Manual
site_url: https://manual.synthv.info/
site_description: The unofficial user manual for SynthV Studio
repo_url: https://github.com/claire-west/svstudio-manual
nav:
  - Home: index.md
  - Quickstart Guide:
    - Workspace:
      - Layout: workspace/layout.md
      - Arrangement: workspace/arrangement.md
      - Piano Roll: workspace/piano-roll.md
      - Side Panels: workspace/side-panels.md
    - Singer Selection: quickstart/singer-selection.md
    - Setting Up the Score: quickstart/setting-up-the-score.md
    - Adding Notes: quickstart/creating-notes.md
    - Editing Notes: quickstart/editing-notes.md
    - Entering Lyrics: quickstart/entering-lyrics.md
    - Playback: quickstart/playback.md
    - Managing Tracks: quickstart/managing-tracks.md
    - Saving the Audio: quickstart/saving-the-audio.md
  - Note Properties:
    - Pitch Transition and Vibrato: note-properties/pitch-transition-and-vibrato.md
    - Editing Phonemes: note-properties/editing-phonemes.md
    - Note and Phoneme Timing: note-properties/note-and-phoneme-timing.md
    - Alternate Phonemes and Phoneme Strength: note-properties/alternate-phonemes.md
    - Expression Groups: note-properties/expression-groups.md
  - Parameters:
    - Parameters Panel: parameters/parameters-panel.md
    - Editing Parameters: parameters/editing-parameters.md
    - Direct Pitch Editing: parameters/direct-pitch-editing.md
  - AI Functions:
    - Auto Pitch Tuning: ai-functions/auto-pitch-tuning.md
    - Instant Mode: ai-functions/instant-mode.md
    - AI Retakes: ai-functions/ai-retakes.md
    - Vocal Modes: ai-functions/vocal-modes.md
  - Intermediate and Advanced Usage:
    - Batch Lyric Input: advanced/batch-lyrics.md
    - User Dictionaries: advanced/user-dictionaries.md
    - Groups: advanced/groups.md
    - Note Ornamentation: advanced/note-ornamentation.md
    - Note Detuning: advanced/note-detuning.md
    - MIDI Controller Support: advanced/midi-controller.md
    - VSTi/AU Plugin: daw-integration/plugin.md
    - Scripting: advanced/scripting.md
  #   - License and Updates:
  #     - License Management: advanced/license-management.md
  #     - Software Updates: advanced/software-updates.md
  - Other Topics:
    - Phoneme Reference: phonemes.md
    - Help & Support: support.md
    - About: about.md
theme:
  name: material
  favicon: img/icon.ico
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - navigation.path
    - content.tabs.link
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
extra_css:
  - stylesheets/theme.css
plugins:
  - search:
      lang: en
  - social:
      cards_color:
        fill: "#2A2A2A"
        text: "#7DB235"
  - glightbox
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: true
markdown_extensions:
  - admonition
  - def_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.keys:
      key_map:
        mouse-wheel: "Mouse wheel"
  - pymdownx.tabbed:
      alternate_style: true